<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936881677790-36peubeiuj9l4q7t28dl4nrkq7h4j1ls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936881677790-36peubeiuj9l4q7t28dl4nrkq7h4j1ls</string>
	<key>API_KEY</key>
	<string>AIzaSyDo31bawNMjoz8doWEK9TMxS1eaIGmBNM4</string>
	<key>GCM_SENDER_ID</key>
	<string>936881677790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vladimirSN.MyFinance</string>
	<key>PROJECT_ID</key>
	<string>myfinance-52789</string>
	<key>STORAGE_BUCKET</key>
	<string>myfinance-52789.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936881677790:ios:4c025f3363de7624dc694f</string>
</dict>
</plist>